<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Catch U</title>
    <link rel="icon" href="../images/logo.png">
    <link rel="stylesheet" href="../css/index_stylesheet.css" />
</head>
<body>
  <div id="title_inner" onclick="nextPage()">
    <!-- <h1 id="title">
      Catch U
    </h1> -->
    <img id='title' src="../images/logo가로.png">

  </div>
</body>
<script>
  function nextPage(){
    // console.log("눌렸음 ㅎㅋㅎ");
    location.href="../quantam-lite/index.html"
  }
</script>
</html>